{% extends 'base.html' %}
{% block title %}Mealy - Meal Plan{% endblock %}

{% block content %}
  <script>

  $(document).ready(function(){
    $(".item").click(showModal);
  });

    function showModal() {
      var modal = $("#" + $(this).attr("data-id"));
      if(modal.css('display') == "none"){
        modal.css('display','block')
      } else {
        modal.css('display','none')
      }
    }

    $(document).ready(function(){
      $(".fa-layers").hover(function(){
        $(this).children(".fa-times").css("color", "black");
        $(".item").off('click');
        }, function(){
        $(this).children(".fa-times").css("color", "#aaaaaa");
        $(".item").on('click', showModal);
      });
    });


    $(document).ready(function(){
      $(".fa-layers").on('click',function() {
        $(this).parent().parent().parent().toggleClass("select-for-reshuffle");

      });
    });


  </script>

  <script>
    function closeModal(id){
      var modal = document.getElementById(id);
      modal.style.display = "none";
    }
  </script>

  <script>
  </script>


  <br>
  <br>

  <div class="support-grid"></div>
  <div class="band">
    <div class="mealPlanBanner">
      <h1>This Week's Meals</h1>
      <p>Here is your weekly meal plan! Select a meal to see what ingredients you need and how to prepare it. When you want to generate a new meal plan for another week, or if you're unhappy with the current meal plan, hit the new meals button below.</p>
      <form class="" action="" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button class="buttonRound" type="submit" name="newMeals">New Meals</button>
      </form>
    </div>

    <div class="item"><h3>Monday</h3></div>
    <div class="item"><h3>Tuesday</h3></div>
    <div class="item"><h3>Wednesday</h3></div>
    <div class="item"><h3>Thursday</h3></div>
    <div class="item"><h3>Friday</h3></div>
    <div class="item"><h3>Saturday</h3></div>
    <div class="item"><h3>Sunday</h3></div>
    {% for breakfast in breakfasts %}
      <div class="item" data-id="{{breakfast.id}}">
        <a class="card">
          <div class="thumb" style="background-image: url({{breakfast.image}});">
            <span class="fa-layers fa-fw">
              <i class="fas fa-circle fa-2x close-icon" data-fa-transform="left-6 down-2"></i>
              <i class="fa-inverse fas fa-2x fa-times close-icon" data-fa-transform="left-4 down-2 shrink-8"></i>
            </span>
          </div>
          <article>
            <h1>{{breakfast.title}}</h1>
            <p><i class="far fa-star"></i> Rating: {{breakfast.rating|floatformat:-2}}/5 <br/>
               <i class="far fa-clock"></i> Ready in: {{breakfast.minutes}} min<br/>
               <i class="fas fa-burn"></i> Cals: {{breakfast.calories}}
            </p>
            <span>Breakfast</span>
          </article>
        </a>
      </div>

      <div class="modal" id="{{breakfast.id}}">
        <div class="modal-content">
          <span onclick="closeModal('{{breakfast.id}}')" class="close"><i class="far fa-times-circle"></i></span>
          <h1><i class="fas fa-utensils"></i> {{breakfast.title}}</h1>
          <p><i class="far fa-star"></i> Rating: {{breakfast.rating|floatformat:-2}}/5<br><i class="far fa-clock"></i> Ready in: {{breakfast.minutes}} minutes<br /><i class="fas fa-burn"></i> Calories: {{breakfast.calories}}</p>
          <h2><i class="fas fa-list-ul"></i> Ingredients</h2>
          <ul>
            {% for ingredient in breakfast.ingredients %}
              <li>{{ingredient}}</li>
            {% endfor %}
          </ul>
          <h2><i class="fas fa-align-left"></i> Directions</h2>
          <p>{{breakfast.instructions}}</p>
        </div>
      </div>
    {% endfor %}

    {% for lunch in lunches %}
      <div class="item" data-id"{{lunch.id}}">
        <a class="card">
          <div class="thumb" style="background-image: url({{lunch.image}});">
            <span class="fa-layers fa-fw">
              <i class="fas fa-circle fa-2x close-icon" data-fa-transform="left-6 down-2"></i>
              <i class="fa-inverse fas fa-2x fa-times close-icon" data-fa-transform="left-4 down-2 shrink-8"></i>
            </span>
          </div>
          <article>
            <h1>{{lunch.title}}</h1>
            <p><i class="far fa-star"></i>Rating: {{lunch.rating|floatformat:-2}}/5 <br/>
               <i class="far fa-clock"></i>Ready in: {{lunch.minutes}} min<br/>
               <i class="fas fa-burn"></i> Cals: {{lunch.calories}}
            </p>
            <span>Lunch</span>
          </article>
        </a>
      </div>

      <div class="modal" id="{{lunch.id}}">
          <div class="modal-content">
            <span onclick="closeModal('{{lunch.id}}')" class="close"><i class="far fa-times-circle"></i></span>
            <h1><i class="fas fa-utensils"></i> {{lunch.title}}</h1>
            <p><i class="far fa-star"></i> Rating: {{lunch.rating|floatformat:-2}}/5<br><i class="far fa-clock"></i> Ready in: {{lunch.minutes}} minutes<br /><i class="fas fa-burn"></i> Calories: {{lunch.calories}}</p>
            <h2><i class="fas fa-list-ul"></i> Ingredients</h2>
            <ul>
              {% for ingredient in lunch.ingredients %}
                <li>{{ingredient}}</li>
              {% endfor %}
            </ul>
            <h2><i class="fas fa-align-left"></i> Directions</h2>
            <p>{{lunch.instructions}}</p>
          </div>
        </div>
    {% endfor %}

    {% for dinner in dinners %}
      <div class="item" data-id="{{dinner.id}}">
        <a class="card">
          <div class="thumb" style="background-image: url({{dinner.image}});">
            <span class="fa-layers fa-fw">
              <i class="fas fa-circle fa-2x close-icon" data-fa-transform="left-6 down-2"></i>
              <i class="fa-inverse fas fa-2x fa-times close-icon" data-fa-transform="left-4 down-2 shrink-8"></i>
            </span>
          </div>
          <article>
            <h1>{{dinner.title}}</h1>
            <p><i class="far fa-star"></i> Rating: {{dinner.rating|floatformat:-2}}/5 <br/>
              <i class="far fa-clock"></i> Ready in: {{dinner.minutes}} min<br />
              <i class="fas fa-burn"></i> Cals: {{dinner.calories}}
            </p>
            <span>Dinner</span>
          </article>
        </a>
      </div>

      <div class="modal" id="{{dinner.id}}">
          <div class="modal-content">
            <span onclick="closeModal('{{dinner.id}}')" class="close"><i class="far fa-times-circle"></i></span>
            <h1><i class="fas fa-utensils"></i> {{dinner.title}}</h1>
            <p><i class="far fa-star"></i> Rating: {{dinner.rating|floatformat:-2}}/5<br><i class="far fa-clock"></i> Ready in: {{dinner.minutes}} minutes<br /><i class="fas fa-burn"></i> Calories: {{dinner.calories}}</p>
            <h2><i class="fas fa-list-ul"></i> Ingredients</h2>
            <ul>
              {% for ingredient in dinner.ingredients %}
                <li>{{ingredient}}</li>
              {% endfor %}
            </ul>
            <h2><i class="fas fa-align-left"></i> Directions</h2>
            <p>{{dinner.instructions}}</p>
          </div>
        </div>
    {% endfor %}
  </div>
  <br>
  <br>
{% endblock %}
