{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	 <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

         <link rel="stylesheet" type="text/css" href="{% static 'app/styles.css' %}"></link>
		<script type="text/javascript" src = "{% static 'app/scripts.js' %}"></script>
</head>
<body>
      <style>
        .form-signin {
          max-width: 550px;
          padding: 15px;
          margin: 0 auto;
        }
      </style>
<nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Mealy</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class=""><a href="#">Meal Plan <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">Shopping List</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Sign In</a></li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Personal Info</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Dietary Restrictions</a></li>
                        <li><a href="#">Preferences</a></li>
                    </ul>
                    </li>
                </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <div class="container">
          <div class="row">
              <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <label class="preference-title">Protein:</label>
                </div>
                <label class="col-md-4">Like</label>
                <label class="col-md-4">Dislike</label>
              </div>
              <div class="row">
                <div class="col-md-4">Chicken:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Steak:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Beef:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Pork:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Eggs:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Beans:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Tofu:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                <label class="col-md-4 preference-title">Carbs:</label>
              </div>
              <div class="row">
                <div class="col-md-4">Pasta:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">White Bread:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Wheat Bread:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Rice:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Rice:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Quinoa:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Whole Grains:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                <label class="col-md-4 preference-title">Fruits:</label>
              </div>
              <div class="row">
                <div class="col-md-4">Bananas:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Berries:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Melons:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Apples:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Citruses:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Lemons:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Limes:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                  <label>&nbsp;</label>
              </div>
              <div class="row">
                <label class="col-md-4 preference-title">Vegetables:</label>
              </div>
              <div class="row">
                <div class="col-md-4">Carrots:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Squash:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Cucumbers:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Peppers:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Onions:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Celery:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">Leafy Greens:</div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
                <div class="col-md-4">
                  <input class="form-check-input" type="checkbox">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              &nbsp;
            </div>
            <div class="col-md-4">
                <div class="row">
                  <div class="col-md-4">
                    <label class="preference-title">Dariy:</label>
                  </div>
                  <label class="col-md-4">Like</label>
                  <label class="col-md-4">Dislike</label>
                </div>
                <div class="row">
                  <div class="col-md-4">Milk:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Yogurt:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Cheese:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Skim Milk:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                  <label class="col-md-4 preference-title">Spices:</label>
                </div>
                <div class="row">
                  <div class="col-md-4">Garlic:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Chili Powder:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Cayenne:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Cumin:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Ginger:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Paprika:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Saffron:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                  <label class="col-md-4 preference-title">Herbs:</label>
                </div>
                <div class="row">
                  <div class="col-md-4">Oregano:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Cilantro:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Thyme:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Basil:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Parsley:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Rosemary:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Mint:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                    <label>&nbsp;</label>
                </div>
                <div class="row">
                  <label class="col-md-4 preference-title">Sweets:</label>
                </div>
                <div class="row">
                  <div class="col-md-4">Cake:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Pudding:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Pie:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">Ice Cream:</div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                  <div class="col-md-4">
                    <input class="form-check-input" type="checkbox">
                  </div>
                </div>
              </div>
          </div>
        </div>
</body>
</html>
