{% extends 'base.html' %}
{% block title %}Mealy - Information{% endblock %}


{% block content %}
  <h2>Preferences</h2>
  <p>For each of the following items, please select whether you like, dislike, or are neutral about meals containing that item
  <form method="post">
    {% csrf_token %}
    <div class="support-grid"></div>
    <div class="preferenceBand">
    <div class="item preference-wrapper">
    {% for field in form %}
    {% if forloop.counter == 27 or forloop.counter == 61%}
    </div>
    <div class="item preference-wrapper">
      {% endif %}
    {% if forloop.counter == 1 %}
    <ul class="preference-title">
      <li><label>Proteins:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    <ul class="preference-title selection-options">
      <li><label>Like</label></li>
      <li><label>Neutral</label></li>
      <li><label>Dislike</label></li>
    </ul>
    <ul class="preference-title selection-options space">
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    {% endif %}
    {% if forloop.counter == 16 %}
    <ul class="preference-title">
      <li><label>Carbs:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    {% endif %}
    {% if forloop.counter == 27 %}
    <ul class="preference-title">
      <li><label>Fruits:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    <ul class="preference-title selection-options">
      <li><label>Like</label></li>
      <li><label>Neutral</label></li>
      <li><label>Dislike</label></li>
    </ul>
    <br>
    <br>
    {% endif %}
    {% if forloop.counter == 44 %}
    <ul class="preference-title">
      <li><label>Veggies:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    {% endif %}
    {% if forloop.counter == 61 %}
    <ul class="preference-title">
      <li><label>Dairy:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    <ul class="preference-title selection-options">
      <li><label>Like</label></li>
      <li><label>Neutral</label></li>
      <li><label>Dislike</label></li>
    </ul>
    <br>
    <br>
    {% endif %}
    {% if forloop.counter == 72 %}
    <ul class="preference-title">
      <li><label>Spices:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    {% endif %}
    {% if forloop.counter == 83 %}
    <ul class="preference-title">
      <li><label>Herbs:</label></li>
      <li><label>&nbsp</label></li>
      <li><label>&nbsp</label></li>
    </ul>
    <hr>
    {% endif %}
      <p>
        {{ field.label_tag }}
        {{field}}

        {% for error in field.errors %}
          <p style="color: #FF653A">{{ error }}</p>
        {% endfor %}
      </p>
      <br>
      <br>
    {% endfor %}
    </div>
  </div>
    <button class="buttonRound" type="submit">Next</button>
  </form>
{% endblock %}
