{% extends 'base.html' %}
{% block title %}Mealy - Sign Up{% endblock %}

{% block content %}
  <br>
  <br>
  <h2>Let's Get Started!</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}
        <br>
        {{ field }}
        {% if field.help_text %}
          {% if field.label_tag != "Password:" %}
            <small style="color: grey">{{ field.help_text|safe }}</small>
          {% endif %}
        {% endif %}
        {% for error in field.errors %}
          <p style="color: #FF653A">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="buttonRound" type="submit">Sign up</button>
  </form>
{% endblock %}
