{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
<div class="row">
	<p class="title-card">Breakfast</p>
</div>
 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="breakfast2no.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="breakfast3yes.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="breakfast4yes.jpg">
                </div>
            </div>
        </div>
 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="breakfast5yes.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="breakfast6no.jpg">
                </div>
            </div>
        </div>
<div class="row">
	<p class="title-card">Lunch</p>
</div>
 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="lunch1no.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="lunch2yes.jpg">
                </div>
            </div>
			<div class="col-3">
                <div class="thumbnail">
                    <img src="lunch3yes.jpg">
                </div>
            </div>
        </div>
 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="lunch4no.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="lunch5yes.jpg">
                </div>
            </div>
			<div class="col-3">
                <div class="thumbnail">
                    <img src="lunch6yes.jpg">
                </div>
            </div>
        </div>
<div class="row">
	<p class="title-card">Dinner</p>
</div>
	 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="dinner1yes.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="dinner2no.jpg">
                </div>
            </div>
			<div class="col-3">
                <div class="thumbnail">
                    <img src="dinner3no.jpg">
                </div>
            </div>
        </div>
			 <div class="row">
            <div class="col-3">
                <div class="thumbnail">
                    <img src="dinner4yes.jpg">
                </div>
            </div>
            <div class="col-3">
                <div class="thumbnail">
                    <img src="dinner5yes.jpg">
                </div>
            </div>
			<div class="col-3">
                <div class="thumbnail">
                    <img src="dinner6yes.jpeg">
                </div>
            </div>
        </div>
	</div>
</body>
</html>
