body {
  background-color: rgb(252, 252, 252);
  margin: 0px;
  padding: 0px;
  font-family: Roboto;
  overflow-y: scroll;
}

.logoFont {
  font-family: Pacifico;
  color: #333333;
}

.header {
  position: fixed;
  z-index: 10;
  margin: 0;
  width: 100%;
  padding-bottom: 4px;
  background-color: #FFFFFF;
  font-family: Pacifico;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
  color: #333333;
}

.header .logo {
  text-align: center;
}

.header .loginStatus {
  text-align: right;
}

.header .headerLogin {
  position: relative;
  float:right;
}

.headerBand {
  width: -webkit-fill-available;
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.footer {
  text-align: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333333;
  color: white;
}

.item {
  max-width: 160px;
}

.header a h1 {
  margin: 0px;
  text-align: center;
}

.header a {
  text-decoration: none;
  color: black;
}

.item.headerItem.headerTitle {
  text-align: center;
  font-size: 30px;
}

.item.headerItem.headerLogin  {
  text-align: right;
  position: relative;
}

.item.headerItem.headerLogin span {
  position: absolute;
  bottom: 0;
  right: 0;
}

.item.headerItem {
  max-width: 100%;
}

.main {
  margin: 0 auto;
  width: 80%;
  padding: 10px;
}

.buttonRound {
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;

    background-color: white;
    color: #333333;
    border: 2px solid #333333; /* Blue */

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
}

.buttonRound:hover {
  background-color: #333333;
  color: white;
}

.buttonRound:active {
  transition-duration: .05s;
  background-color: #999999;
  color: white;
}

.createAccont, .form-container{
    margin: 0 auto;
    width: 40%;
}

/* Cards */
.band, .dashBand {
  width: auto;
  max-width: 1240px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.cardIngredients{
  display: none;
}

@media only screen and (min-width: 850px) {
  .band {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .mealPlanBanner {
    grid-column: 1/ span 7;
  }
}

@media only screen and (min-width: 850px) {
  .dashBand {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .itemWide {
    grid-column: 1/ span 3;
  }

  .dashBanner {
    grid-column: 1/ span 6;
  }
}

/* card */

.card {
  min-height: 100%;
  background: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  transition: all .1s ease-in;
  cursor: pointer;
}

.card:hover {
  top: -2px;
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

.card article {
  padding: 10px;
  display: flex;

  flex: 1;
  justify-content: space-between;
  flex-direction: column;
}

.card .thumb {
  padding-bottom: 60%;
  background-size: cover;
  background-position: center center;
}

.card p {
  flex: 1; /* make p grow to fill available space*/
  line-height: 1.4;
  font-size: 14px;
}

/* typography */
.card h1 {
  font-size: 18px;
  margin: 0;
  color: #333;
}

.card span {
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: .05em;
  margin: 0 0 0 0;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  transition: all .1s ease-in;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
  transition: all .1s ease-in;
}

.preferenceBand {
  width: auto;
  max-width: 1240px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 20px;
}

.preference-title li label {
  font-size: 20px;
  font-weight: bold;
}

.preference-title.selection-options li label {
  font-size: 14px;
  font-weight: bold;
}

.preference-wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.preference-wrapper ul li {
  float: left;
  width: 75px;
}

.preference-wrapper ul li label {
  display: block;
  text-align: center;
  text-decoration: none;
}

.red {
  color: #d69494;
}

.white {
  color: white;
}

.item.preference-wrapper {
  max-width:225px;
}

.item.preference-wrapper p {
  font-size: 14px;
  font-weight: bold;
  margin: 0;
}
/* Chatbot */
/*
body {
  font: 15px arial, sans-serif;
  background-color: #d9d9d9;
  padding-top: 15px;
  padding-bottom: 15px;
}

#bodybox {
  margin: auto;
  max-width: 550px;
  font: 15px arial, sans-serif;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  box-shadow: 5px 5px 5px grey;
  border-radius: 15px;
}

#chatborder {
  border-style: solid;
  background-color: #f6f9f6;
  border-width: 3px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 20px;
  padding-left: 15px;
  border-radius: 15px;
}

.chatlog {
   font: 15px arial, sans-serif;
}

#chatbox {
  font: 17px arial, sans-serif;
  height: 22px;
  width: 100%;
}

h1 {
  margin: auto;
}

pre {
  background-color: #f0f0f0;
  margin-left: 20px;
}

.preference-title {
  font-size: 1.5em;
}

#bye {
  display: none;
}
*/
